body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #F6E7D8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
}

.header {
    color: #874356;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 36px 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*************** 
    BUTTONS - Top
**************/

button {
    background-color: #C65D7B;
    color: #F6E7D8;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 32px;
    margin: 16px 16px;
    transition: all .07s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px black;
}

.buttons {
    flex: 1;
    display: flex;
    align-items: scenter;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


/*************** 
    SLIDER
**************/

.slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.slider-value {
    color: #C65D7B;
    font-size: 16x;
    font-weight: bolder;
    margin: 0;
}

#myRange {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    min-width: 64px;
    background: #F6E7D8;
    outline: #C65D7B solid;
    border-radius: 5px;
    /* Remove outline */
}


/*
The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) 
and -moz- (Firefox) to override default look) 
*/

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 24px;
    /* Set a specific slider handle width */
    height: 24px;
    /* Slider handle height */
    border-radius: 3px;
    background: #C65D7B;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 24px;
    /* Set a specific slider handle width */
    height: 24px;
    /* Slider handle height */
    border-radius: 3px;
    background: #C65D7B;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}


/*************** 
    GRID
**************/

.grid {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    min-width: 320px;
    max-width: 500px;
    margin: 32px 0;
    box-shadow: 8px 8px #000000;
}

.cell {
    box-sizing: border-box;
    background-color: white;
    min-width: 5px;
    aspect-ratio: 1;
    /* animation: ShadowZoom 3s ease infinite; */
}


/*************** 
    BUTTONS - Below Grid
**************/

.buttons-bot {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


/*************** 
    FOOTER
**************/

.footer {
    background-color: #874356;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.footer a {
    display: flex;
    align-items: center;
}

.footer img {
    height: 32px;
    margin: 0 16px;
    transition: all 1s ease;
}

.footer img:hover {
    transform: scale(1.1) rotate(1080deg);
}


/******************
JAVASCRIPT CLASS:
The classe below are used by the JS code
******************/

.btnActive {
    transform: scale(1.05);
    box-shadow: 5px 5px black;
}

.gridBorder {
    border: 1px solid #F68989;
}


/* https://tmcerlean.github.io/etch-a-sketch/
@keyframes ShadowZoom {
    0% {
        box-shadow: 3px 3px #000000;
    }
    50% {
        box-shadow: 10px 10px #000000;
    }
    100% {
        box-shadow: 3px 3px #000000;
    }
} */